<md-card>
  <md-card-header>
    <h3>{{ sportart }}</h3>
  </md-card-header>
  <md-card-content>
    <p id="beschreibung">{{ beschreibung }}<p>
  </md-card-content>
</md-card>

<md-card *ngFor="let versusID of this.versus">
  <md-card-content>
    <table width="100%">
      <tr class="ergebnis">
        <th class="ergebnis"></th>
        <ng-container *ngFor="let leistung of this.leistungen.get(versusID)">
          <th align="center" class="ergebnis">
            {{ getKlassenNameById(leistung.kid) }}
          </th>
        </ng-container>
      </tr>
      <ng-container *ngFor="let v of variablen; let i = index">
        <tr class="ergebnis">
          <td align="left" class="ergebnis">
            <b>{{v.name}}</b>
          </td>
          <ng-container *ngFor="let leistung of this.leistungen.get(versusID)">
            <td align="center" class="ergebnis">
              {{ leistung.ergebnisse[i].wert }}
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </table>
  </md-card-content>
</md-card>

<ng-container *ngIf="enoughPermissionsToWrite()">
  <md-card>
    <md-card-header>
      <h4>Ergebnisse eintragen</h4>
    </md-card-header>
    <md-card-content>
      <table width="100%">
        <tr *ngFor="let i of kontrahentenCountHelper">
          <td>
            <md-select placeholder="Klasse" [(ngModel)]="this.neueLeistungen[i].kid">
              <md-option *ngFor="let klasse of klassen" [value]="klasse.kid">
                {{ klasse.name }}
              </md-option>
            </md-select>
          </td>
          <td *ngFor="let row of variablen, let v = index">
            <ng-container *ngIf="row.typ.zustaende">
              <md-select placeholder="{{variablen[v].desc}}" [(ngModel)]="this.neueLeistungen[i].ergebnisse[v].wert">
                <md-option *ngFor="let z of row.typ.zustaende" [value]="z.name">
                  {{z.name}}
                </md-option>
              </md-select>
            </ng-container>

            <ng-container *ngIf="!row.typ.zustaende">
              <md-input-container> 
                <input mdInput type="text" placeholder={{variablen[v].desc}} [(ngModel)]="this.neueLeistungen[i].ergebnisse[v].wert">
                <md-hint *ngIf="touched" >Bitte ausfüllen.</md-hint>
              </md-input-container>
            </ng-container>
          </td>
        </tr>
      </table>  
      <button md-raised-button (click)="sichern()" color="accent">Speichern</button>
    </md-card-content>
  </md-card>
</ng-container>