<h1>
    Teamsportart - {{currentSportart}}
</h1>
<div class="panel panel-default" align="center">
  <div class="panel-body">
    <h3>Regeln</h3>
    <p>{{regel}}</p>
  </div>
</div>

<table class="table table-striped table-hover">
   <thead>
     <tr>
      <th>Klasse A</th>
      <th>Klasse B</th>
      <th>Punkte</th>
      <th>Punkte</th>
     </tr>
   </thead>
   <tbody>
     <tr ng-repeat="begegnung in punkteStand">
        <td>{{ begegnung.classA }}</td>
        <td>{{ begegnung.classB }}</td>
        <td>{{ begegnung.pointsA }}</td>
        <td>{{ begegnung.pointsB }}</td>
     </tr>
   </tbody>
</table>