<md-card>
  <md-card-header>
    <h3>{{ currentSportart }}</h3>
  </md-card-header>
</md-card>

<md-card>
  <md-card-header>
    <h4>Regeln</h4>
  </md-card-header>
  <md-card-content>
    {{ regel }}
  </md-card-content>
</md-card>


<md-card>
  <md-card-content>
    <md-card>
      <md-card-header>
    <h4>Neue Begegnung</h4>
    </md-card-header>
    <!--Eingabe neuer Spielergebnisse-->
    <table align="center">
      <!--<tr>
        <th colspan="2" align="center">
          <p>Neue Begegnung</p>
        </th>
      </tr>-->
      <tr align="right" >
        <td>
          <!--<div align="right" valign="bottom">-->

            <md-select placeholder="Klasse A" [(ngModel)]="selectedClassA">
              <md-option *ngFor="let klasse of klassen" [value]="klasse.value">
                {{ klasse.viewValue }}
              </md-option>
            </md-select>
            </td>
            <td>
            <span >vs.</span>
            </td>
            <td>
            <md-select placeholder="Klasse B" [(ngModel)]="selectedClassB">
              <md-option *ngFor="let klasse of klassen" [value]="klasse.value">
                {{ klasse.viewValue }}
              </md-option>
            </md-select>
          <!--</div>-->
        </td>
        <td style="padding-left:20px" align="left">
          <!--<div align="left">-->

            <md-input-container >
              <input type="number" mdInput placeholder="Punkte A" [(ngModel)]="pointsA">
            </md-input-container>
          </td>
          <td align="left" style="width: 5px !important">
           :
          </td>
          <td align="left">
            <md-input-container>
              <input type="number" mdInput placeholder="Punkte B" [(ngModel)]="pointsB">
            </md-input-container>
          <!--</div>-->
        </td>
      </tr>
      <tr>
        <td colspan="6" align="center" style="padding-top: 10px">
          <button md-raised-button color="primary" (click)="sendTeamErgebnis(selectedClassA, selectedClassB, pointsA, pointsB)">Abschicken</button>
        </td>
      </tr>
    </table>
    </md-card>
    <br><br>
    <!--Anzeige der Ergebnisse-->
    <md-card>
      <md-card-header>
        <h4>Ergebnisse</h4>
      </md-card-header>
      <md-card-content>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th (click)="(sortRevA)? sortByClassARev() : sortByClassA()">Klasse A<md-icon>import_export</md-icon></th>
              <th (click)="(sortRevB)? sortByClassBRev() : sortByClassB()">Klasse B<md-icon>import_export</md-icon></th>
              <th>Punkte</th>
              <th>Punkte</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let begegnung of punkteStand">
              <td>{{ begegnung.classA }}</td>
              <td>{{ begegnung.classB }}</td>
              <td>{{ begegnung.pointsA }}</td>
              <td>{{ begegnung.pointsB }}</td>
            </tr>
          </tbody>
        </table>
      </md-card-content>
    </md-card>