.header{
  position: absolute;
  left:0;
  top: 0;
  width: 800px;
}

.header img {
  float: left;
  margin-left: 10px;
  width: 250px;
  height: 165px;
  cursor: pointer;
}

.header h1 {
  font-size: 45px;
  line-height: 175px;
  height: 165px;
  width: 550px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.header small{
  font-size: 30px;
  color: #006EC7;
}

.navbar{
  margin-top: -5px;
}

.kategorie{
  color: dimgray;
  vertical-align: middle;
  font-size: 0.9em;
  size: 100%;
  line-height: 40px;
}

.user{
  vertical-align: middle;
  color: darkgrey;
}

.fill-remaining-space {
  /* this fills the remaining space, by using flexbox. 
  / every toolbar row uses a flexbox row layout.*/
  flex: 1 1 auto;
}