<img class="bgImage" height="200" width="100%" [src]="headerImage" alt="Bild konnte nicht geladen werden...">
<div class="header">
  <br>
  <a (click)="navigateToDashboard()" height="150px" width="250px"><img [src]="atiwImage" alt="Atiw Logo"></a>
  <h1>
    {{title}} <small>{{year}}</small>
  </h1>
</div>
<div class="navbar">
  <md-toolbar color="primary" class="navbar">
    <button md-button (click)="navigateToDashboard()">
      <md-icon>home</md-icon>
    </button>

    <button md-button [mdMenuTriggerFor]="menu0">Sportarten</button>
    <md-menu #menu0="mdMenu">
      <!--Einzel-->
      <div class="kategorie">&nbsp;Einzel</div>
        <div *ngFor="let einzel of disziplinen.einzel">
          <button md-menu-item (click)="navigateToEinzel(einzel.id)">{{ einzel.bezeichnung }}</button>
        </div>
      <!--Team-->
      <div class="kategorie">&nbsp;Team</div>
        <div *ngFor="let team of disziplinen.team">
          <button md-menu-item (click)="navigateToTeam(team.id)">Fußball</button>
        </div>
    </md-menu>

    <button md-button [mdMenuTriggerFor]="menu1">Import</button>
    <md-menu #menu1="mdMenu">
      <button md-menu-item (click)="navigateToImportKlasse()">Klassenimport</button>
      <button md-menu-item (click)="navigateToCreateDiscipline()">Disziplin anlegen</button>
    </md-menu>
    
    <button md-button [mdMenuTriggerFor]="menu2">Admin</button>
    <md-menu #menu2="mdMenu">
      <button md-menu-item (click)="navigateToUAC()" >Benutzerverwaltung</button>
      <button md-menu-item (click)="navigateToCreateSportfest()" >Neues Sportfest</button>
      <button md-menu-item (click)="navigateToActivateDiscipline()" >Disziplin aktivieren</button>
    </md-menu>
    <span class="fill-remaining-space"></span>

    <span class="user" *ngIf="username">{{username}} <!--TODO: Umsteig auf Rest-->
      &nbsp;
      <button md-button (click)="logout()">Logout</button>
    </span>
    <span class="user" *ngIf="!username">Gast
      &nbsp;
      <button md-button (click)="login()">Login</button>
    </span>

  </md-toolbar>
</div>