<md-card>
  <md-card-header>
    <h3>Anlegen einer Disziplin</h3>
  </md-card-header>
  <md-card-content>
    <table>
      <tr>
        <td>
          <md-slide-toggle [(ngModel)]="teamleistung">Teamleistung</md-slide-toggle>
        </td>
      <tr>
      <tr>
        <td>
          <md-input-container> 
            <input mdInput type="text" placeholder="Name" [(ngModel)]="sportart">
          </md-input-container>
        </td>
      <tr>
      <tr>
        <td>
          <md-input-container> 
            <input mdInput type="text" placeholder="Beschreibung" [(ngModel)]="beschreibung">
          </md-input-container>
        </td>
      <tr>
      <tr>
        <td>
          <md-input-container> 
            <input mdInput type="number" placeholder="Min Teilnehmeranzahl" [(ngModel)]="minTeilnehmeranzahl">
          </md-input-container>
        </td>
      <tr>
      <tr>
        <td>
          <md-input-container> 
            <input mdInput type="number" placeholder="Max Teilnehmeranzahl" [(ngModel)]="maxTeilnehmeranzahl">
          </md-input-container>
        </td>
      <tr>
    </table>
  </md-card-content>
  <md-card-actions>
    <!--<button md-raised-button color="primary" (click)="submit()">Weiter</button>-->
  </md-card-actions>
</md-card>
<br>
<md-card *ngIf="secondVisible">
  <md-card-header>
    <h3>Regel-Variable anlegen</h3>
  </md-card-header>	
  <md-card-content>
   
    <table>
      <tr *ngFor="let row of rulesVar, let i = index">
        <td> 
          <md-input-container> 
              <input mdInput type="text" placeholder="Name der Regel-Variable" [value]="row.name" >
          </md-input-container>
        </td>  
        <td> 
          <md-input-container> 
              <input mdInput type="text" placeholder="ExpressionID" [value]="row.expId">
          </md-input-container>
        </td>  
        <td> 
          <md-input-container> 
              <input mdInput type="text" placeholder="Beschreibung" [value]="row.desc">
          </md-input-container>
        </td>  
        <td>
          <md-icon (click)="removeRuleVarLine(i)" style="cursor: pointer">delete</md-icon>
        </td>
      </tr>  
    </table>
     <button md-raised-button color="primary" (click)="addNewRuleVarLine()"><md-icon>add</md-icon>Regel-Variable hinzufügen</button>
  </md-card-content>
</md-card>
<br>
<md-card *ngIf="secondVisible">
  <md-card-header>
    <h3>Regel anlegen</h3>
  </md-card-header>
  <md-card-content>
    <table>
      <tr *ngFor="let row of rules, let i = index">
        <td>
          <md-input-container> 
              <input mdInput type="text" placeholder="Name der Regel" [value]="row.regeltext">
          </md-input-container>
        </td>  
        <td> 
          <md-input-container> 
              <input mdInput type="number" placeholder="Punkte" [value]="row.punkte">
          </md-input-container>
        </td>  
        <td>
          <md-icon (click)="removeRuleLine(i)" style="cursor: pointer">delete</md-icon>
        </td>
      </tr>  
    </table>
    <button md-raised-button color="primary" (click)="addNewRuleLine()"><md-icon>add</md-icon>Regel hinzufügen</button>
  </md-card-content>
</md-card>
<br>
<md-card >
  <md-card-header>
    <table>
      <tr>
        <td style="width:40%"><div class="linie"></div></td>
        <td>
          <button [disabled]=!secondVisible style="font-size: 1.1em"
            md-raised-button (click)="sendToBackend()" color="accent">
              <md-icon>done</md-icon> Disziplin speichern
          </button>
      </td>
      <td style="width: 40%"><div class="linie"></div></td>
      </tr>
    </table>
    <!--
    <div style="vertical-align: middle">
      <div class="linie"></div>
      <button [disabled]=!secondVisible style="font-size: 1.1em"
      md-raised-button (click)="submitRule()" color="accent"><md-icon>done</md-icon> Disziplin speichern</button>
      <div class="linie"></div>
    </div>-->
    
  </md-card-header>
</md-card>


    <!--
    1.	Name: String
    2.	Beschreibung: String
    3.	Min Teilnehmeranzahl: int
    4.	Max Teilnehmeranzahl: int
    5.	Teamleistung: boolean
    
    Regel-Variable anlegen
    1.	Name
    2.	ExpressionID
    3.	Beschreiben
    
    Regel anlegen
    1.	Regeltext
    2.	Punkte
    -->
