
  <h3>Password ändern</h3>
  <table>
    <tr>
      <td>
        <md-input-container> 
          <input mdInput type="password" placeholder="Aktuelles Passwort" [(ngModel)]="recent">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <span *ngIf="recentInvalid" class="error-message">{{ msgRecentInvalid }}</span>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container> 
          <input mdInput type="password" placeholder="Neues Passwort" [(ngModel)]="new">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container> 
          <input mdInput type="password" placeholder="Neues Passwort bestätigen" [(ngModel)]="newSubmit">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <span *ngIf="newNotEqual" class="error-message">{{ msgNewNotEqual }}</span>
      </td>
    </tr>
  </table>
  <br>
  <button md-raised-button color="primary" (click)="cancel()">Abbrechen</button>
  <button md-raised-button color="primary" (click)="save()">Speichern</button>
