<form class="login-form">
  <h1 class="main-card-title">Login</h1>
  <table class="login-full-width">
    <tr>
      <td>
        <md-input-container>
          <input mdInput name="username" 
            type="text" 
            placeholder="Username" 
            [(ngModel)]="username">
        </md-input-container>
      </td>
    </tr>
    <tr>
      <td>
        <md-input-container>
          <input #loginbtn mdInput name="password" 
            type="password" 
            placeholder="Passwort" 
            [(ngModel)]="password"
            (keypress)="keypress($event)">
        </md-input-container>
      </td>
    </tr>
  </table>
  <span class="error-message">{{ errorMsg }}</span><br>
  <button md-button (click)="close($event)">Abbrechen</button>
  <button md-button (click)="submit()">Login</button>
</form>