<md-card>
  <md-card-header>
    <md-card-title class="main-card-title">Login</md-card-title>
  </md-card-header>
  <br>
  <md-card-content>
    <form class="login-form">
      <table class="login-full-width">
        <tr>
          <td>
            <md-input-container>
              <input mdInput name="username" type="text" placeholder="Username">
            </md-input-container>
          </td>
        </tr>
        <tr>
          <td>
            <md-input-container>
              <input mdInput name="username" type="text" placeholder="Username">
            </md-input-container>
          </td>
        </tr>
      </table>
    </form>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="close()">Abbrechen</button>
    <button md-button (click)="submit()">Login</button>
    <span class="error-message">{{errorMsg}}</span>
  </md-card-actions>
</md-card>
