.login-full-width {
    width: 100%;
}

.login-form {    
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 24px !important;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.error-message {
    color: red;
    position: absolute;
    right: 15px;
    font-size: 14px;
    line-height: 36px;
}

md-card {
    width: inherit;
    height: inherit;
}