.login-full-width {
    width: 100%;
}

h1 {
  font-size: 24px !important;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.error-message {
    color: red;
    font-size: 12px;
    position: absolute;
    /*right: 15px;
    line-height: 36px;*/
}

md-card {
    width: inherit;
    height: inherit;
}