/*cdk-overlay-0, .cdk-overlay-pane, .cdk-overlay-container, .cdk-global-overlay-wrapper {
    position: relative;
}
https://github.com/Gbuomprisco/ng2-material-dropdown
https://www.muicss.com/docs/v1/angular/dropdowns
material.es5.js 3219*/

table {
    margin: auto;
}
