<button md-button [mdMenuTriggerFor]="menu">Sportarten</button>
<md-menu #menu="mdMenuA">
  <button md-menu-item>Einzel</button>
  <button md-menu-item>Team</button>
</md-menu>
<button md-button [mdMenuTriggerFor]="menu">Import</button>
<md-menu #menu="mdMenuB">
  <button md-menu-item>Klassenimport</button>
  <button md-menu-item>Disziplin anlegen</button>
</md-menu>
<button md-button [mdMenuTriggerFor]="menu">Admin</button>
<md-menu #menu="mdMenuC">
  <button md-menu-item>Benutzerverwaltung</button>
  <button md-menu-item>Neues Sportfest</button>
  <button md-menu-item>Sportfest auswählen</button>
  <button md-menu-item>Disziplin aktivieren</button>
</md-menu>