<md-card>
    <h1><u>Herzlich Willkommen zum ATIW Sportfest!</u></h1>
</md-card>

<md-card>
    <h3>Klassenranking</h3>
    <table>
      <tr>
        <th>
          <div>
          <p>Rang</p>
          <md-icon (click)="sortByRangRev()">
            keyboard_arrow_up
          </md-icon>
          <md-icon (click)="sortByRang()">
            keyboard_arrow_down
          </md-icon>
          </div>
        </th>
        <th>
          <div>
          <p>Klasse</p>
          <md-icon (click)="sortByKlasseRev()">
            keyboard_arrow_up
          </md-icon>
          <md-icon (click)="sortByKlasse()">
            keyboard_arrow_down
          </md-icon>
          </div>
        </th>
        <th>
        <div>
          <p>Punkte</p>
          <md-icon (click)="sortByRangRev()">
            keyboard_arrow_up
          </md-icon>
          <md-icon (click)="sortByRang()">
            keyboard_arrow_down
          </md-icon >
          </div>
        </th>
      </tr>
      <tr *ngFor="let teiln of teilnehmer"><!-- TODO index mit plazierung ersetzen-->
        <td class="left">
          {{teiln.rang}}
        </td>
        <td class="left"> 
          {{ teiln.name }}
        </td>
        <td class="left">
          {{ teiln.value }}
        </td>
      </tr>
    </table>
    <!--<md-list>
      <md-list-item *ngFor="let teiln of teilnehmer">
        <md-icon md-list-icon>car</md-icon>
        <h4 md-line>{{teiln.name}}</h4>
        <p md-line> {{teiln.value}} </p>
      </md-list-item>
    </md-list>-->
</md-card>