<div class="header">
   <a (click)="navigateToDashboard()"><img [src]="atiwImage" alt="Atiw Logo"></a>
</div>
<md-toolbar color="primary" class="navbar">
    <md-icon (click)="changeSidenav()">menu</md-icon>
    <md-icon (click)="navigateToDashboard()">home</md-icon>
    <span class="fill-remaining-space"></span>
    <div *ngIf="username">
      <span class="user" >{{ username }}</span>
      <md-icon [mdMenuTriggerFor]="menu">more_vert</md-icon>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="openChangePassword()">Passwort ändern</button>
        <button md-menu-item (click)="logout()">Logout</button>
      </md-menu>
      &nbsp;
    </div>
    <div class="user" *ngIf="!username"><span>Gast</span>
      &nbsp;
      <button md-button (click)="login()">Login</button>
    </div>
</md-toolbar>
