<md-list>
  <md-list-item class="main" (click)="expandSportarten()">Sportarten</md-list-item>
  <div *ngIf="selectedSportarten">
    <md-list-item class="sub" (click)="expandEinzel()">Einzel</md-list-item>
      <div *ngIf="selectedEinzel">
        <md-list-item class="subsub"
                      *ngFor="let einzel of disziplinenEinzel"
                      (click)="navigateToEinzel(einzel.did, einzel.name)">
                      {{ einzel.name }}
        </md-list-item>
      </div>
    <md-list-item class="sub" (click)="expandTeam()">Team</md-list-item>
      <div *ngIf="selectedTeam">
        <md-list-item class="subsub"
                      *ngFor="let team of disziplinenTeam"
                      (click)="navigateToTeam(team.did, team.name)">
                      {{ team.name }}
        </md-list-item>
      </div>
  </div>
    
  <md-list-item *ngIf="role=='admin'" class="main" (click)="expandAdmin()">Admin</md-list-item>
    <div *ngIf="selectedAdmin">
      <md-list-item class="sub" (click)="navigateToCreateDiscipline()">Disziplin anlegen</md-list-item>
      <md-list-item class="sub" (click)="navigateToActivateDiscipline()">Disziplin aktivieren</md-list-item>
      <md-list-item class="sub" (click)="navigateToUAC()">Benutzerverwaltung</md-list-item>
      <md-list-item class="sub" (click)="navigateToCreateSportfest()">Neues Sportfest</md-list-item>
    </div>
    
  <md-list-item *ngIf="role=='admin'" class="main" (click)="navigateToImportKlasse()">Import</md-list-item>
</md-list>