
/* http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */

html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
   margin: 0;
}

#body {
   padding-bottom:63px ;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:63px;   /* Height of the footer */
}


md-sidenav-container {
    height: 100vh;
}
md-sidenav {
    height: 100vh;
    width: 65vw;
}

.fill-remaining-space {
  /* this fills the remaining space, by using flexbox. 
  / every toolbar row uses a flexbox row layout.*/
  flex: 1 1 auto;
  
}

.credits{
    font-size: 0.6em;
    opacity: 0.1;
}