<div id="container" *ngIf="!isMobile()">
   <div id="header">
        <app-header></app-header>
    </div>
    <div id="body">
        <router-outlet></router-outlet>
    </div>
    <div id="footer" *ngIf="!isMobile()">
        <app-footer></app-footer>
    </div>
</div>

<div id="container" *ngIf="isMobile()">
    <app-mobile-header-image></app-mobile-header-image>
    <md-sidenav-container class="example-container">
        <app-mobile-header (sidenavChange)="sidenav.open()"></app-mobile-header>
        <router-outlet></router-outlet>
        <md-sidenav #sidenav class="example-sidenav" mode="over">
            <md-toolbar color="primary" class="navbar">
                <md-icon (click)="sidenav.close()">menu</md-icon>
            </md-toolbar>
            <app-mobile-menu-list (itemSelected)="sidenav.close()"></app-mobile-menu-list>
        </md-sidenav>
    </md-sidenav-container>
</div>
