<md-card>
  <md-card-header>
    <h3>Benutzerverwaltung</h3>
  </md-card-header>
  <br>
  <md-card-content>
    <table>
      <tr>
        <th>Benutzer</th>
        <th>Rolle</th>
        <th></th>
        <th></th>
      </tr>

      <tr *ngFor="let user of users" >
        <td>{{ user.name }}</td>
        <td>{{ user.role }}</td>
        <td>
          <md-icon (click)="resetPassword(user.name)">settings backup restore</md-icon>
        </td>
        <td>
          <md-icon (click)="deleteUser(user.name)" >delete forever</md-icon>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Benutzername" [(ngModel)]="username" >
          </md-input-container>
        </td>
        <td>
          <md-select placeholder="Rolle" [(ngModel)]="selectedRole">
            <md-option value="admin">
              Admin
            </md-option>
            <md-option value="schiedsrichter">
              Schiedsrichter
            </md-option>
          </md-select>
        </td>
        <td>
          <md-icon (click)="addUser()">add_box</md-icon>
        </td>
      </tr>
    </table>
  </md-card-content>
  <md-card-actions>
    
  </md-card-actions>
</md-card>