<md-card>
  <md-card-header>
    <h3>Disziplin aktivieren / deaktivieren</h3>
  </md-card-header>
  <br>
  <md-card-content>
    <table>
      <tr>
        <th>Disziplin</th>
        <th>aktiviert</th>
      </tr>

      <tr *ngFor="let dis of disziplinen.einzel" >
        <td>{{ dis.bezeichnung }}</td>
        <td>
          <md-slide-toggle [(ngModel)]="dis.aktiv"></md-slide-toggle>
        </td>
      </tr>
      <!--je nach dem in welchem Format die Daten kommen müssen die Schleifen anders gebaut werden-->
      <tr *ngFor="let dis of disziplinen.team" >
        <td>{{ dis.bezeichnung }}</td>
        <td>
          <md-slide-toggle [(ngModel)]="dis.aktiv"></md-slide-toggle>
        </td>
      </tr>

    </table>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button color="primary" (click)="save()">Speichern</button>
  </md-card-actions>
</md-card>