<md-card>
  <md-card-header>
    <h3>Disziplin aktivieren / deaktivieren</h3>
  </md-card-header>
  <br>
  <md-card-content>
    <table>
      <tr>
        <th>Disziplin</th>
        <th>aktiviert</th>
        <th></th>
      </tr>
      <tr *ngFor="let dis of disziplinen, let i = index" >
        <td>{{ dis.name }}</td>
        <td>
          <md-slide-toggle [(ngModel)]="dis.aktiviert" (change)="save(dis)"></md-slide-toggle>
        </td>
        <td>
          <md-icon (click)="editDiscipline(dis)" >edit</md-icon>
        </td>
        <td>
          <md-icon (click)="deleteDiscipline(dis)" >delete forever</md-icon>
        </td>
      </tr>
    </table>
  </md-card-content>
</md-card>