<h1>
    Einzelsportart - {{ sportart }}
</h1>
<div class="panel panel-default" align="center">
  <div class="panel-body">
    <h3>Regeln</h3>
    <p>{{ regeln }}</p>
  </div>
</div>

<hr>
<!--<button md-button [mdMenuTriggerFor]="appMenu">
  Klasse
</button>
<md-menu #appMenu="mdMenu">
  <button md-menu-item *ngFor="let klasse of klassen">{{ klasse }}</button>
</md-menu>-->
<table class="table table-striped table-hover">
   <thead>
     <tr>
      <th *ngFor="let klasse of klassen">{{ klasse }}</th>
     </tr>
   </thead>
   <tbody>
     <tr>
        <td *ngFor="let s of schueler">{{ s }}</td>
     </tr>
   </tbody>
</table>