<md-card>
  <md-card-header>
    <h3>{{ sportart }}</h3>
  </md-card-header>
</md-card>

<md-card>
  <md-card-header>
    <h4>Regeln</h4>
  </md-card-header>
  <md-card-content>
    {{ regeln }}
  </md-card-content>
</md-card>

<md-card>
  <md-card-header>
    <h4>Ergebnisse</h4>
  </md-card-header>
  <md-card-content>
    <md-select placeholder="Teilnehmer">
      <md-option *ngFor="let teilnehmer of schueler" [value]="teilnehmer.value">
        {{ teilnehmer.viewValue }}
      </md-option>
    </md-select>

    <table class="table table-striped table-hover">
      <thead>
        <tr *ngFor="let klasse of klassen">
          <th></th>
          <th>{{ klasse.viewValue }}</th>
          <td *ngFor="let s of schueler">
            {{ s.viewValue }}
          </td>
          <td>
            12.5
          </td>
        </tr>       
      </thead>
      <tbody>
        <tr>
          <td>Summe</td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>

